<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|striptags} | {/ifset}EasyBlog</title>

    <link rel="shortcut icon" href="{$basePath}/favicon.ico">



</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<div>
    {if $user->isLoggedIn()}
        Přihlášen: {$user->getIdentity()->username}
        <a n:href=":Front:Sign:out">Odhlásit</a>
    {else}
        <a n:href=":Front:Sign:in">Přihlásit</a>
    {/if}
</div>

<h1><a n:href="Blog:">EasyBlog</a></h1>

{include content}

<script src="{$basePath}/js/jquery-1.11.3.min.js"></script>
<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
<script src="{$basePath}/js/nette.ajax.js"></script>
<script src="{$basePath}/js/init.js"></script>
<script src="//cdn.ckeditor.com/4.5.3/standard/ckeditor.js"></script>
{block scripts}

{/block}

</body>

</html>
